







/* 1a. Containers */


  



  


/* 1b. Colors */







/* 1c. Typography */





























/* 1d. Buttons */






























/* 1e. Forms */































/* 1f. Icons */
















/* 1g. Cards */











/* 1h. Tables */













/* 1i. Website header */



























/* 1j. Website footer */













/* Drag and drop layout styles */

.dnd-section {
  padding: 100px 20px;
}

/* Padding on blog post sections */

.blog-post-section {
  padding: 100px 0;
}

/* .content-wrapper is used for blog post and system templates and .header-wrapper is used for the website header module */

.dnd-section > .row-fluid,
.content-wrapper,
.header__wrapper {
  max-width: 1300px;
}





html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  background-color: #ffffff;
  color: #231f20;
  font-size: 16px;
  overflow-x: hidden;
}

/* Paragraphs */

p {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
}

/* Anchors */

a {
  font-weight: 400; text-decoration: underline; font-family: Avenir Next, sans-serif; font-style: normal;
  color: #425b76;
}

a:hover,
a:focus {
  font-weight: 400; text-decoration: underline; font-family: Avenir Next, sans-serif; font-style: normal;
  color: #415239;
}

a:active {
  font-weight: 400; text-decoration: underline; font-family: Avenir Next, sans-serif; font-style: normal;
  color: #91a289;
}

/* Headings */

h1 {
  font-weight: 400; text-decoration: none; font-family: Avenir Next, serif; font-style: normal;
  color: #231f20;
  font-size: 140px;
  text-transform: uppercase;
}

h2 {
  font-family: Avenir Next, serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #231f20;
  font-size: 60px;
  text-transform: none;
}

h3 {
  font-family: Avenir Next, serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #231f20;
  font-size: 50px;
  text-transform: none;
}

h4 {
  font-family: Avenir Next, serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #231f20;
  font-size: 30px;
  text-transform: none;
}

h5 {
  font-family: Avenir Next, serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #231f20;
  font-size: 20px;
  text-transform: none;
}

h6 {
  font-family: Avenir Next, serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #231f20;
  font-size: 16px;
  text-transform: none;
}

/* Blockquotes */

blockquote {
  font-family: Avenir Next, serif; font-style: normal; font-weight: 400; text-decoration: none;
  border-left-color: #3574E3;
  color: #231f20;
  font-size: 24px;
}

blockquote > footer {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  font-size: 16px;
}

/* Horizontal rules */

hr {
  border-bottom-color: #444444;
}





/* Primary button */




/* Secondary button */

.button.button--secondary {
  border: 1px solid #425b76;

  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 600; text-decoration: none;
  background-color: 

  
  
    
  


  rgba(255, 255, 255, 0.0)

;
  border-radius: 0px;
  color: #425b76;
  fill: #425b76;
  text-transform: none;
}

.button.button--secondary:hover,
.button.button--secondary:focus,
.button.button--secondary:active {
  border: 1px solid #425b76;

  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 600; text-decoration: none;
  background-color: 

  
  
    
  


  rgba(66, 91, 118, 1.0)

;
  color: #ffffff;
  fill: #ffffff;
}

.button.button--secondary:active {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 600; text-decoration: none;
  background-color: rgba(146, 171, 198, 100);
  border: 1px solid #425b76;

  border-color: #92abc6;
  color: #ffffff;
  fill: #ffffff;
}

/* Simple button */

.button.button--simple {
  font-weight: 400; text-decoration: underline; font-family: Avenir Next, sans-serif; font-style: normal;
  color: #425b76;
  fill: #425b76;
}

.button.button--simple:hover,
.button.button--simple:focus {
  font-weight: 400; text-decoration: underline; font-family: Avenir Next, sans-serif; font-style: normal;
  color: #415239;
  fill: #415239;
}

.button.button--simple:active {
  font-weight: 400; text-decoration: underline; font-family: Avenir Next, sans-serif; font-style: normal;
  color: #91a289;
  fill: #91a289;
}

/* Button sizing */

.button.button--small {
  padding-top: 10px;
padding-right: 20px;
padding-bottom: 10px;
padding-left: 20px;

  font-size: 14px;
}

.button.button--large {
  padding-top: 10px;
padding-right: 20px;
padding-bottom: 10px;
padding-left: 20px;

  font-size: 18px;
}





/* Form */

form {
  border: 1px none #3574E3;

  padding: 45px;

  background-color: 

  
  
    
  


  rgba(53, 116, 227, 1.0)

;
  border-radius: 0px;
}

/* Form title */

.form-title {
  border: 1px none #425b76;

  padding: 25px;

  font-family: Avenir Next, serif; font-style: normal; font-weight: 400; text-decoration: none;
  background-color: 

  
  
    
  


  rgba(66, 91, 118, 1.0)

;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #ffffff;
  font-size: 50px;
  text-transform: ;
}

/* Labels */

form label {
  padding-top: 6px;
padding-right: 0px;
padding-bottom: 6px;
padding-left: 0px;

  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
  color: #231f20;
  font-size: 16px;
}

/* Help text */

form legend {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #231f20;
  font-size: 14px;
}

/* Form fields */

form input[type='text'],
form input[type='email'],
form input[type='password'],
form input[type='tel'],
form input[type='number'],
form input[type='search'],
form select,
form textarea {
  border: 1px none #444444;

  padding: 10px;

  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  background-color: 

  
  
    
  


  rgba(255, 255, 255, 1.0)

;
  border-radius: 0px;
  color: #231f20;
  font-size: 16px;
}

/* Form fields - placeholders */

::-webkit-input-placeholder {
  color: #444444;
}

::-moz-placeholder {
  color: #444444;
}

:-ms-input-placeholder {
  color: #444444;
}

:-moz-placeholder {
  color: #444444;
}

::placeholder {
  color: #444444;
}

/* Form fields - date picker */

form .hs-dateinput:before {
  right: 10px;
}

form .pika-table thead th {
  background-color: 

  
  
    
  


  rgba(66, 91, 118, 1.0)

;
  color: #ffffff;
}

form td.is-today .pika-button {
  color: #231f20;
}

form .is-selected .pika-button {
  background-color: #3574E3;
  color: #231f20;
}

form .pika-button:hover {
  background-color: #425b76 !important;
}

/* Headings and text */

form .hs-richtext,
form .hs-richtext *,
form .hs-richtext p,
form .hs-richtext h1,
form .hs-richtext h2,
form .hs-richtext h3,
form .hs-richtext h4,
form .hs-richtext h5,
form .hs-richtext h6 {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #231f20;
}

form .hs-richtext a {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #231f20;
}

/* GDPR */

form .legal-consent-container,
form .legal-consent-container .hs-richtext,
form .legal-consent-container .hs-richtext p {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #231f20;
  font-size: 14px;
}

/* Submit button */



  form input[type='submit'],
  form .hs-button {
    border: 1px solid #425b76;

    font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 600; text-decoration: none;
    background-color: 

  
  
    
  


  rgba(66, 91, 118, 1.0)

;
    border-radius: 0px;
    color: #ffffff;
    text-transform: none;
  }

  form input[type='submit']:hover,
  form input[type='submit']:focus,
  form .hs-button:hover,
  form .hs-button:focus {
    border: 1px solid #425b76;

    font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 600; text-decoration: none;
    background-color: 

  
  
    
  


  rgba(65, 82, 57, 1.0)

;
    color: #ffffff;
  }

  form input[type='submit']:active,
  form .hs-button:active {
    border: 1px solid #425b76;

    font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 600; text-decoration: none;
    background-color: rgba(145, 162, 137, 100);
    border-color: #92abc6;
    color: #ffffff;
}





  form input[type='submit'],
  form .hs-button {
    padding-top: 10px;
padding-right: 20px;
padding-bottom: 10px;
padding-left: 20px;

    font-size: 16px;
  }



/* Inline thank you message */

.submitted-message {
  border: 1px none #3574E3;

  padding: 45px;

  background-color: 

  
  
    
  


  rgba(53, 116, 227, 1.0)

;
  border-radius: 0px;
}





/* Default icon (regular/dark) */

.icon {
  padding: 15px;

  background-color: 

  
  
    
  


  rgba(255, 255, 255, 1.0)

;
}

.icon svg {
  fill: #ffffff;
  height: 16px;
  width: 16px;
}

/* Light icon */

.icon--light .icon {
  background-color: 

  
  
    
  


  rgba(255, 255, 255, 1.0)

;
}

.icon--light svg {
  fill: #ffffff;
}

/* Size */

.icon--small svg {
  height: 12px;
  width: 12px;
}

.icon--small .icon {
  padding: 10px;

}

.icon--large svg {
  height: 24px;
  width: 24px;
}

.icon--large .icon {
  padding: 25px;

}





/* Table */

table {
  border: 1px solid #444444;

  background-color: 

  
  
    
  


  rgba(255, 255, 255, 1.0)

;
}

/* Table cells */

th,
td {
  border: 1px solid #444444;

  padding: 10px;

  color: #231f20;
}

/* Table header */

thead th,
thead td {
  background-color: 

  
  
    
  


  rgba(66, 91, 118, 1.0)

;
  color: #ffffff;
}

/* Table footer */

tfoot th,
tfoot td {
  background-color: 

  
  
    
  


  rgba(53, 116, 227, 1.0)

;
  color: #231f20;
}





/* Header container */

.header.nav-up {
  top: -200px;
}

.header {
  background-color: 

  
  
    
  


  rgba(255, 255, 255, 1.0)

;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: 0.3s ease-in-out;
}

html:not(.hs-inline-edit) .header{
   position: fixed;
}

/* Header content color */

.header p,
.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6,
.header a:not(.button),
.header span,
.header div,
.header li,
.header blockquote,
.header .tabs__tab,
.header .tabs__tab:hover,
.header .tabs__tab:focus,
.header .tabs__tab:active {
  color: #231f20;
}

/* Header top bar */

.header__top {
  background-color: 

  
  
    
  


  rgba(53, 116, 227, 1.0)

;
}

/* Language switcher */

.header__language-switcher-current-label > span {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #231f20;
  font-size: 16px;
  text-transform: none;
}

.header__language-switcher:hover .header__language-switcher-current-label > span,
.header__language-switcher:focus .header__language-switcher-current-label > span {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #000000;
}

.header__language-switcher-child-toggle svg {
  fill: #231f20;
}

/* Language switcher - submenu */

.header__language-switcher .lang_list_class {
  border-color: #444444;
}

.header__language-switcher .lang_list_class li {
  background-color: 

  
  
    
  


  rgba(255, 255, 255, 1.0)

;
}

.header__language-switcher .lang_list_class a:not(.button) {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #231f20;
  font-size: 16px;
  text-transform: none;
}

.header__language-switcher .lang_list_class a:hover,
.header__language-switcher .lang_list_class a:focus {
  background-color: 

  
  
    
  


  rgba(255, 255, 255, 1.0)

;
  color: #000000;
}

.header__language-switcher .lang_list_class a:active {
  background-color: 

  
  
    
  


  rgba(255, 255, 255, 1.0)

;
}

/* Header bottom */

.header__bottom {
  background-color: 

  
  
    
  


  rgba(255, 255, 255, 1.0)

;
}

/* Logo */

.header__logo-company-name {
  font-weight: 400; text-decoration: none; font-family: Avenir Next, serif; font-style: normal;
  color: #231f20;
  font-size: 140px;
  text-transform: uppercase;
}

/* Menu */

@media (max-width: 767px) {
  .header__menu--mobile {
    background-color: 

  
  
    
  


  rgba(255, 255, 255, 1.0)

;
  }
}

/* Menu items */

.header__menu-link {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  font-size: 16px;
  text-transform: none;
}

@media (max-width: 767px) {
  .header__menu-item--depth-1 {
    border-top: 1px solid #444444;
  }
}

/* Menu items - top level */

.header__menu-item--depth-1 > .header__menu-link:not(.button) {
  color: #231f20;
}

.header__menu-item--depth-1 > .header__menu-link:hover,
.header__menu-item--depth-1 > .header__menu-link:focus {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #000000;
}

.header__menu-item--depth-1 > .header__menu-link:active {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #505050;
}

.header__menu-item--depth-1 > .header__menu-link--active-link:not(.button) {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #000000;
}

.header__menu-item--depth-1 .header__menu-child-toggle svg {
  fill: #231f20;
}

/* Menu items - submenus */

.header__menu-submenu {
  background-color: 

  
  
    
  


  rgba(255, 255, 255, 1.0)

;
  border-color: #444444;
}

.header__menu-submenu .header__menu-link:not(.button) {
  color: #231f20;
}

.header__menu-submenu .header__menu-item:hover,
.header__menu-submenu .header__menu-item:focus {
  background-color: 

  
  
    
  


  rgba(255, 255, 255, 1.0)

;
}

.header__menu-submenu .header__menu-link:hover,
.header__menu-submenu .header__menu-link:focus {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #000000;
}

.header__menu-submenu .header__menu-link:active {
  background-color: 

  
  
    
  


  rgba(255, 255, 255, 1.0)

;
}

.header__menu-submenu .header__menu-link--active-link:not(.button) {
  color: ;
  background-color: 

  
  
    
  


  rgba(255, 255, 255, 1.0)

;
}

/* Menu icons */

.header__menu-toggle svg {
  fill: #231f20;
}





/* Footer container */

.footer {
  background-color: 

  
  
    
  


  rgba(255, 255, 255, 1.0)

;
}

/* Footer content color */

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.footer p,
.footer a:not(.button),
.footer span,
.footer div,
.footer li,
.footer blockquote,
.footer .tabs__tab,
.footer .tabs__tab:hover,
.footer .tabs__tab:focus,
.footer .tabs__tab:active {
  color: #231f20;
}

.footer hr {
  border-bottom-color: #231f20 !important;
}

/* Footer menu */

.footer .hs-menu-wrapper a {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
  color: #231f20;
  font-size: 16px;
  text-transform: none;
}

.footer .hs-menu-wrapper a:hover,
.footer .hs-menu-wrapper a:focus {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
  color: #000000;
}

.footer .hs-menu-wrapper a:active {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
  color: #505050;
}

.footer .hs-menu-wrapper .active > a {
  font-weight: bold; text-decoration: underline; font-family: Avenir Next, sans-serif; font-style: normal;
  color: #000000;
}






/* Dark card */

.card--dark {
  border: 1px solid #231f20;

  background-color: 

  
  
    
  


  rgba(35, 31, 32, 1.0)

;
  border-radius: 0px;
  color: #ffffff;
}

.card--dark summary,
.card--dark p,
.card--dark h1,
.card--dark h2,
.card--dark h3,
.card--dark h4,
.card--dark h5,
.card--dark h6,
.card--dark a:not(.button),
.card--dark span,
.card--dark div,
.card--dark li,
.card--dark blockquote {
  color: #ffffff;
}

/* Light card */

.card--light {
  border: 1px solid #444444;

  background-color: 

  
  
    
  


  rgba(255, 255, 255, 1.0)

;
  border-radius: 0px;
  color: #231f20;
}

.card--light summary,
.card--light p,
.card--light h1,
.card--light h2,
.card--light h3,
.card--light h4,
.card--light h5,
.card--light h6,
.card--light a:not(.button),
.card--light span,
.card--light div,
.card--light li,
.card--light blockquote {
  color: #231f20;
}





/* Error templates */

.error-page:before {
  font-family: Avenir Next, sans-serif; font-style: normal; font-weight: 400; text-decoration: none;
}

/* System templates */

#email-prefs-form,
#email-prefs-form h1,
#email-prefs-form h2 {
  color: #231f20;
}

/* Search template */

.hs-search-results__title {
  font-size: 60px;
}

/* Backup unsubscribe template */

.backup-unsubscribe input[type='email'] {
  font-size: 16px !important;
  padding: padding: 10px;
 !important;
}





/* Accordion */

.accordion__summary,
.accordion__summary:before {
  font-family: Avenir Next, serif; font-style: normal; font-weight: 400; text-decoration: none;
  font-size: 30px;
}

.card--dark .accordion__summary:before {
  color: #ffffff;
}

.card--light .accordion__summary:before {
  color: #231f20;
}

/* Blog listing, recent posts, related posts, and blog post */

.blog-listing__post-title {
  text-transform: none;
}

.blog-listing__post-title-link {
  font-family: Avenir Next, serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #231f20;
}

.blog-listing__post-title-link:hover,
.blog-listing__post-title-link:focus {
  font-family: Avenir Next, serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #000000;
}

.blog-listing__post-title-link:active {
  font-family: Avenir Next, serif; font-style: normal; font-weight: 400; text-decoration: none;
  color: #736f70;
}

.blog-listing__post-tag {
  color: #231f20;
}

.blog-listing__post-tag:hover,
.blog-listing__post-tag:focus {
  color: #000000;
}

.blog-listing__post-tag:active {
  color: #736f70;
}

.blog-listing__post-author-name,
.blog-post__author-name {
  color: #231f20;
}

.blog-listing__post-author-name :hover,
.blog-listing__post-author-name :focus,
.blog-post__author-name:hover,
.blog-post__author-name:focus {
  color: #000000;
}

.blog-listing__post-author-name :active,
.blog-post__author-name:active {
  color: #736f70;
}

/* Image gallery */

.image-gallery__close-button-icon:hover,
.image-gallery__close-button-icon:focus {
  background-color: rgba(175, 175, 175, 1.0);
}

.image-gallery__close-button-icon:active {
  background-color: rgba(255, 255, 255, 1.0);
}

.icon--light .image-gallery__close-button-icon:hover,
.icon--light .image-gallery__close-button-icon:focus {
  background-color: rgba(175, 175, 175, 1.0);
}

.icon--light .image-gallery__close-button-icon:active {
  background-color: rgba(255, 255, 255, 1.0);
}

/* Pagination */

.pagination__link-icon svg {
  fill: #425b76;
  height: 16px;
  width: 16px;
}

.pagination__link:hover .pagination__link-icon svg,
.pagination__link:focus .pagination__link-icon svg {
  fill: #415239;
}

.pagination__link:active .pagination__link-icon svg {
  fill: #92abc6;
}

.pagination__link--active {
  border-color: #444444
}

/* Pricing card */

.pricing-card__heading {
  background-color: #425b76;
}

/* Social follow and social sharing */

.social-follow__icon:hover,
.social-follow__icon:focus,
.social-sharing__icon:hover,
.social-sharing__icon:focus {
  background-color: rgba(175, 175, 175, 1.0);
}

.social-follow__icon:active,
.social-sharing__icon:active {
  background-color: rgba(255, 255, 255, 1.0);
}

.icon--light .social-follow__icon:hover,
.icon--light .social-follow__icon:focus,
.icon--light .social-sharing__icon:hover,
.icon--light .social-sharing__icon:focus {
  background-color: rgba(175, 175, 175, 1.0);
}

.icon--light .social-follow__icon:active,
.icon--light .social-sharing__icon:active {
  background-color: rgba(255, 255, 255, 1.0);
}

/* Tabs */

.tabs__tab,
.tabs__tab:hover,
.tabs__tab:focus,
.tabs__tab:active {
  border-color: #231f20;
  color: #231f20;
}






.brella-widget-root {
  background: transparent!important;
  border-radius: 0px!important;
  margin-top: 20px!important;
  padding: 0px!important;
  text-align: left!important;
}

.brella-widget-button-primary {
  border: 1px solid white!important;
  color: white!important!important;
  font-size: 16px!important;
  padding: 10px 64px 10px 16px!important;
  position: relative!important;
  transition: 0.3s ease-in-out!important;
  text-decoration: none!important;
  display: inline-flex!important;
  text-transform: uppercase!important;
  background: transparent!important;
  border-radius: 0px!important;
}

.brella-widget-button-primary::after{
  content: "";
  position: absolute;
  top: 30%;
  right: 20px;
  width: 16px;
  height: 16px;
  background-image: url('https://7167649.fs1.hubspotusercontent-na1.net/hubfs/7167649/2023/Icons/cta-arrow.svg');
  background-repeat: no-repeat;
  background-size:contain;
  transition: 0.3s ease-in-out;
}

.brella-widget-button-primary:hover{
  border: 1px solid white;
  color: black!important;
  background-color: white!important;
  text-decoration: none;
}

.brella-widget-button-primary:hover::after{
  top: 30%;
  right: 10px;
  background-image: url('https://7167649.fs1.hubspotusercontent-na1.net/hubfs/7167649/2023/Icons/cta-arrow-black.svg');
}

body,html{
  overscroll-behavior: none;
}

select {
background-color: white;
}

ul.ticket {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.ticket li {
  color: white;
  padding-left: 20px; /* add some padding for the SVG */
  margin-bottom: 10px; /* add some margin between list items */
  background: url("https://7167649.fs1.hubspotusercontent-na1.net/hubfs/7167649/2023/Icons/tick-icon-01.svg") no-repeat left center;
  background-size: 15px 12px; /* adjust the size of the SVG */
}

.swiper-wrapper{
  transition-timing-function: linear;
}

/* Animation KeyFrames */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes drawBorder {
  from {width: 0%;}
  to {width: 100%;}
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.hide-desktop{
  display: none;
}

/*  Form Styling */

.form-title{
  display: none;
}

form{
  border: 0px none transparent;
  padding: 0px;
  background-color: transparent;
  border-radius: 0px;
}


form input[type='submit'], form .hs-button {
  border: 1px solid white;
  color: white!important;
  font-size: 16px;
  padding: 10px 64px 10px 64px;
  position: relative;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  display: inline-flex;
  background-color: transparent;
  font-weight: normal;
  width: auto;
  margin-top: 16px;
}

form input[type='submit']::after, form .hs-button::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 20px;
  width: 16px;
  height: 16px;
  background-image: url('https://7167649.fs1.hubspotusercontent-na1.net/hubfs/7167649/2023/Icons/cta-arrow.svg');
  background-repeat: no-repeat;
  background-size:contain;
  transition: 0.3s ease-in-out;
}

form input[type='submit']:hover, form .hs-button:hover{
  border: 1px solid white;
  color: black!important;
  background-color: white;
  text-decoration: none;
  font-weight: normal;
}

form input[type='submit']:hover::after, form .hs-button:hover::after{
  top: 30%;
  right: 10px;
  background-image: url('https://7167649.fs1.hubspotusercontent-na1.net/hubfs/7167649/2023/Icons/cta-arrow-black.svg');
}


form input[type="text"],
form input[type="email"],
form textarea,
form select {
  padding: 22px;
  position: relative;
}

form input[type="text"]::placeholder,
form input[type="email"]::placeholder,
form textarea::placeholder,
form select::placeholder{
  position: absolute;
  top: 22px;
  left: 22px;
  font-size: 16px;
  color: black;
  transition: all 0.3s ease-out;
}

form input[type="text"]:focus::placeholder,
form input[type="email"]:focus::placeholder,
form textarea:focus::placeholder,
form select:focus::placeholder {
  top: 10px;
  left: 22px;
  font-size: 12px;
  color: black;
  transform: none;
  transition: all 0.3s ease-out;
}

.form-columns-2{
  display: flex;
  gap: 30px;
}

form .hs-form-field {
  margin-bottom: 14px!important;
}

form label{
  display: none!important;
}

form select {
  background-image: url("https://7167649.fs1.hubspotusercontent-na1.net/hubfs/7167649/2023/Icons/form%20dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 30px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form .hs-error-msg, form .hs-error-msgs {
  color: white!important;
  margin-top: 0.35rem;
  display: block!important;
}



/*  MISC */


.isotope-pager{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.isotope-pager .arrow{
  display: none;
}

.isotope-pager .pager{
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.isotope-pager a.pager.active{
  text-decoration: none;
  font-weight: bold;
  color: #0095DA;
}


.sw-arrow{
  cursor:pointer;
  transition: 0.3s ease-in-out;
}


.sw-scroll{
  height: 1px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  background: black;
}

.sw-scroll .swiper-scrollbar-drag{
  height: 4px;
  position: absolute;
  top: -2px;
  left: 0px;
  border-radius: 0px;
}

.sw-arrow svg{
  height: 22px;
}

.sw-arrow.swiper-button-disabled svg path{
  fill: black!important;
}

.content-wrapper.sw-mobile-nav{
  display: none;
}

@media screen and (max-width: 1024px) {
  #hs_cos_wrapper_widget_1677156484724 {
    padding: 0px 32px;
}

.no-line-height .row-fluid .span6:first-of-type{
  display:none!important;
}

.no-line-height .row-fluid .span6:last-of-type{
  width: 100%!important;
}

.dnd-section{
  padding: 100px 32px;
}
}


@media screen and (max-width: 768px){

  .hs_cos_wrapper_type_rich_text p, .hs_cos_wrapper_type_rich_text h1, .hs_cos_wrapper_type_rich_text h2, .hs_cos_wrapper_type_rich_text h3, .hs_cos_wrapper_type_rich_text h4, .hs_cos_wrapper_type_rich_text h5, .hs_cos_wrapper_type_rich_text h6{
    width: 100%!important;
  }

.widget-type-rich_text h1 {
  width: 100%!important;
}

p.title{
  width: 100%!important;
}

.hide-desktop{
  display: block;
}

  .hide-mobile{
    display: none;
  }


  .content-wrapper.sw-mobile-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0px 32px;
    margin-top: 50px;
  }

  .content-wrapper.sw-mobile-nav .sw-arrow{
    width: 10%;
    display: flex;
  }

  .content-wrapper.sw-mobile-nav .sw-arrow:first-of-type{
    justify-content: flex-start;
  }

  .content-wrapper.sw-mobile-nav .sw-arrow:last-of-type{
    justify-content: flex-end;
  }

  .content-wrapper.sw-mobile-nav .sw-scroll{
    width: 80%;
  }

  .form-columns-2{
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .form-columns-2 .hs-form-field{
    width: 100%!important;
  }

  form input[type='submit'], form .hs-button {
    display: block;
    width: 100%;
  }

  .input{
    margin-right: 0px!important;
  }
}